body{
    background-image: url('/images/cultureImage.jpg');
    height: 500px;
  
}
.jumbotron>h1{
  color: brown;
  text-align: center;
}
.card-body{
    background-color:palevioletred;   
    
}
.card-footer{
    background-color:palevioletred;   

}
.card-heading{
    color:brown;
}