body{
    background-image: url('/images/cultureImage.jpg');
    height: 500px;
  
}
.jumbotron{
    background-color:gray;
}
.jumbotron>h1{
  color: skyblue;
  text-align: center;
  
}
.jumbotron>p{
  color: aliceblue;
  padding: 10px;
}
.card-body{
    background-color:palevioletred;  
    color: aliceblue;   
}
.card-title{
    background-color: black;
    opacity: 80%;
    text-align: center;
}
.card-footer{
    background-color:palevioletred;
    color: yellow;   

}
.card-heading{
    color:yellowgreen;
}
.card{
  background-color: gray; 
  height: 300px; 
   
}
.card>form{
    text-align: center;
    color: cornsilk;
    font-size: larger;
}
.DOB{
    color: greenyellow;
    background-color: black;
    text-align: center;
}